{% extends "main/base_simple.html" %}
{% load i18n %}

{% block title %} - About Us{% endblock %}
{% block bodyid %}about{% endblock %}
{% block content_simple %}

<h2>Our Mission</h2>

<p>
SuperDonate's mission is to help humanity through innovative technology. We have created an application that can earn money for charity by efficiently using the idle time of your computer.
</p>

<p>
SuperDonate, Inc. is located at 888 Main St. #1045, New York, NY and began its open beta test on February 14, 2009.
</p>


<h2>The SuperDonate Application</h2>

<img src="{{ MEDIA_URL }}img/screenshots/superdonate_screenshot_main.png" title="SuperDonate"/>
	
<p>
SuperDonate was designed from the ground up to be both simple and safe.
</p>

<p>
To start, download and install SuperDonate on your computer. Run the program and select the charity you want to earn money for. You're done! Your computer will now automatically earn money for the charity that you selected.
</p>

<p>
To see the list of charities available on SuperDonate, please visit the <a href="partners.php">Partners page</a>. We will be adding more charities in the future.
</p>

<h2>How SuperDonate Works</h2>

<p>
SuperDonate earns money for charity by using your idle computer time to solve complex math and science problems on a distributed computing network. The more time your computer spends solving problems, the more money is earned for charity.
</p>

<p>
Distributed computing works by splitting a much larger computing problem into smaller pieces, and then sharing that work among many different computers. When your computer is idle, it will request a problem from the distributed computing network. It will work on solving this problem, and then send the solution back to the server. Your computer will then request another problem.
</p>

<p>
When you start using your computer again it will put the current problem on hold. This way all of your computer's resources are always available to you when you need them.
</p>




<h2>More Questions?</h2>
<p>
If you have any questions, please visit the <a href="faq.php">FAQ</a> or <a href="contact.php">contact us</a>.
</p>

<p>
If you are a registered 501(c)(3) charity and would like to be included in SuperDonate, please <a href="contact.php">contact us</a> for more information.
</p>

{% include "main/inc_download_buttons.html" %}

{% endblock %}