<center> 
   <!-- the comment and script is used to workaround the KB912945 patch --> 
   <!--[if gte IE 6]> <comment id="to_be_rewritten"> <![endif]--> 
   <OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" WIDTH="640" HEIGHT="380" id="movie"> 
   <PARAM NAME=movie VALUE="{{ MEDIA_URL }}movie/superdonate.swf"> 
   <PARAM NAME=quality VALUE=high> 
   <PARAM NAME=bgcolor VALUE=#ffffff> 
   <PARAM NAME=allowScriptAccess VALUE=always>
   
   {# This param ensures that the HTML menu can display on top of the movie #} 
   <param name="wmode" value="opaque">
   <EMBED src="{{ MEDIA_URL }}movie/superdonate.swf" wmode="opaque" quality=high bgcolor=#ffffff WIDTH="640" HEIGHT="380" NAME="movie" ALIGN="" allowScriptAccess="always" TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"></EMBED> 
   </OBJECT> 
   </comment><script language="Javascript" src="{{ MEDIA_URL }}movie/ieupdate.js"></script>	
</center>