{% load i18n %}
{% load compressed %}
{% load cache %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>&raquo; Donate Idle Computer Time to your Favorite Charity {% block title %}{% endblock %}</title>


{# TB TODO - Is there any way to get the COMPRESS settings variable here??? #}
{% if 1 %}

{% compressed_css 'group_main' %}
{% compressed_js 'group_main' %}

{% else %}

<script type="text/javascript" src="{{ MEDIA_URL }}lib/jquery-1.4.min.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}superdonate.css" type="text/css" media="all" charset="utf-8" />

{% endif %}


<meta name="description" content="Donate your unused computer time to earn money for your favorite charity. Help solve medical and scientific research projects." />
<meta name="keywords" content="superdonate, donate, charity, computer, program, earn, give, donation" />
<meta name="robots" content="all" />
<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}img/favicon.ico" />

{% block extra_head %}{% endblock %}

</head>

<body id="{% block bodyid %}foo{% endblock %}">

<div id="container">	

	{% if messages %}
    	<div id="userMessages">
       		<div id="userMessagesContent">      	        	
				{% for message in messages %}
    				<div class="singleMessage">      	
    					{{ message }}
    				</div>
    			{% endfor %}				
			</div>
		</div>				
	{% endif %}    
   
    <div id="topalert_wrapper">
        <div id="topalert">
            SuperDonate is no longer operational. Our distributed computing provider went out of business, so we must cease operations. Thank you for helping us earn money for charity.
        </div>
    </div>

	{% cache 3600 header request.user %}
	<div id="ojbarWrapper">
	
		<div id="ojbar">
		
			<h1>
				<a href="{% url home %}">
					SuperDonate
				</a>
			</h1>
		
		
			<div id="ojbarUsername">
				{% if user.is_authenticated %}			
					Welcome, {{user.username}}. <a class="ojbarLink" href="{% url user_home %}">(view my profile)</a>			
				{% else %}
					Want to join? <a class="ojbarLink" href="{% url register %}">Register in seconds.</a>
				{% endif %}
			</div>
		
			<div id="nav" class="nav">
				<ul class="menudropdown">
	
			
					<li class="dropdownbasic"><a id="about" href="{% url about %}">About Us</a></li>
			
			
					<li class="dropdowntop"><a href="{% url how_does_superdonate_work %}">
						
						<span class="menuArrow"><img src="{{ MEDIA_URL }}img/menu_arrow.gif" /></span>Learn More</a>
			
						<ul class="dropdownitem">						
							<li><a href="{% url how_does_superdonate_work %}">How does it work?</a></li>							
							<li><a href="{% url watch_video %}">Watch short video</a></li>
							<li><a href="{% url faq %}">FAQ</a></li>
							<li><a href="{% url charity_list %}">Charities</a></li>
							<li><a href="{% url team_list %}">Teams</a></li>													
							<li><a href="{% url promote %}">Promote</a></li>
						</ul>
					</li>
			
			
					<li class="dropdowntop"><a href="{% url download 'win' %}">
						
						<span class="menuArrow"><img src="{{ MEDIA_URL }}img/menu_arrow.gif" /></span><b>Download</b></a>
			
						<ul class="dropdownitem">
							<li><a href="{% url download 'win' %}"><img align="left" src="{{ MEDIA_URL }}img/dl_ico-win2.png" alt="Download free software for Windows" />&nbsp;&nbsp;Windows</a></li>
							<li><a href="{% url download 'linux' %}"><img align="left" src="{{ MEDIA_URL }}img/dl_ico-tux2.png" alt="Download charity software for Linux" />&nbsp;&nbsp;Linux</a></li>
							<li><a href="{% url download 'osx' %}"><img align="left" src="{{ MEDIA_URL }}img/dl_ico-osx-uni2.png" alt="Download donation program for OS X" />&nbsp;&nbsp;Mac OS X</a></li>
						</ul>
					</li>
					
					{% if user.is_authenticated %}
						<li class="dropdownbasic"><a id="logout" href="{% url logout %}">Logout</a></li>
					{% else %}
						<li class="dropdownbasic"><a id="login" href="{% url login %}">Login</a></li>
					{% endif %}
				</ul>
			</div>
					
					
		</div>
	
		<div class="clear"></div>
	
		<!--
		<table>
		
			<tr>
				<td align="right">
					<a href="{% url home %}">
						<div id="ojbarTitle">
							SuperDonate
						</div>
					</a>
				</td>
			</tr>
			<tr>
				<td align="right">
					<div id="ojbarTitleBeta">BETA</div>
				</td>
			</tr>
	
		</table>
		-->
		
	</div>
	{% endcache %}


	<div id="content">        
    	        
    	{% block content %}content{% endblock %}   		
       	        	
	</div>


</div>


{% cache 3600 footer_foo5 %}
<div id="footer2container">
	<div id="footer2">
	
		<div class="footer2BlankLeft">
			&nbsp;
		</div>
			
		<div class="footer2Column">
			<h3>NAVIGATION</h3>
			<ul>
				<li><a href="{% url home %}">Home</a></li>
				<li><a href="{% url about %}">About Us</a></li>
				<li><a href="{% url watch_video %}">Watch short video</a></li>
				<li><a href="{% url how_does_superdonate_work %}">How does it work?</a></li>
				<li><a href="{% url faq %}">FAQ</a></li>
				<li><a href="{% url charity_list %}">Charity List</a></li>
				<li><a href="{% url charity_list %}">Team List</a></li>
				<li><a href="{% url privacy %}">Privacy Policy</a></li>
			</ul>
		</div>
		
		<div class="footer2Column">
			<h3>HELP SUPERDONATE</h3>		

			<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="3YR8AUYKY4ABS">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
			<br/>
			<br/>

			<ul>
				<li><a href="{% url promote %}">Promote</a></li>
				<li><a href="{% url invite_email %}">Invite Friends</a></li>
				{# <li><a target="_blank" href="http://apps.facebook.com/superdonate/invite.php">Facebook Invite</a></li> #}
				{# <li><a target="_blank" href="http://www.facebook.com/apps/application.php?id=54957063847&ref=ts">Facebook Fans</a></li> #}
				<li><a href="{% url contact %}">Contact Us</a></li>
			</ul>


		</div>
		
		<div class="footer2Column">
			<h3>DOWNLOAD</h3>
			<ul>
				<li><a href="{% url download 'win' %}">Windows</a></li>
				<li><a href="{% url download 'osx' %}">Mac OS X</a></li>
				<li><a href="{% url download 'linux' %}">Linux</a></li>			
			</ul>
		</div>
		
		<div class="clear"></div>
		
		<br/>
		
		<div id="footer2Copyright">
			&copy;2008 SuperDonate, Inc. | All Rights Reserved <br/>888 Main St. #1045, New York, NY 10044 | (415) 287-0484
		</div>
		
	</div>
</div>




{# Async google analytics #} 
{# http://www.stevesouders.com/blog/2009/12/01/google-analytics-goes-async/ #}	
<script type="text/javascript" language="JavaScript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-5390483-4']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script');
ga.src = ('https:' == document.location.protocol ?
    'https://ssl' : 'http://www') +
    '.google-analytics.com/ga.js';
ga.setAttribute('async', 'true');
document.documentElement.firstChild.appendChild(ga);
})();
</script>


<script type="text/javascript">
	// Fade out any user messages after a few seconds?	
	setTimeout( function() {
		$("div#userMessages").slideDown("slow", function() {
			setTimeout( function() { $("div#userMessages").slideUp("slow"); }, 3000 );
		});
	} , 500 );
</script>
{% endcache %}

</body>
</html>
