{% extends "main/base_simple.html" %}
{% load i18n %}
{% load cache %}

{% block title %} - Charities{% endblock %}
{% block bodyid %}partners{% endblock %}
{% block content_simple %}

{% cache 3600 charity_list %}
<h2>Charities</h2>

<p>
The following charities are currently available in the SuperDonate application. If you are a registered 501(c)(3) charity and would like to be included in SuperDonate, please <a href="{% url contact %}">contact us</a> for more information.
</p>

<br/>


{% for charity in charity_list %}

<div class="partner">

	<table><tr>
			<td class="logo">
				<a href="{% url charity_info charity.id %}">
					<img src="{{MEDIA_URL}}client_data/charitylogo_{{charity.app_id}}.png">
				</a>
			</td>
			<td class="name">
				<a href="{% url charity_info charity.id %}">
					{{charity.name}}
				</a>
			</td>
	</tr></table>

	<div class="partnerText">
		{{charity.description}}
	</div>
	
	<a href="{% url charity_info charity.id %}">Click here for more information and donation statistics for {{charity.name}}.</a>

	<br/>
	<br/>
	<hr>

</div>

{% endfor %}



{% endcache %}
{% endblock %}
