{% extends "main/base_simple.html" %}
{% load i18n %}
{% load cache %}

{% block title %} - {{charity.name}}{% endblock %}
{% block bodyid %}charity_info{% endblock %}
{% block content_simple %}

{% cache 3600 charity_info charity.id %}

<h2>{{charity.name}}</h2>

<div style="float:left; width: 680px; padding-right: 40px">
	{{charity.description}}
	<br/>
	<a style="font-size:11px;" href="{{charity.url}}" target="_blank">{{charity.url}}</a>
</div>

<div style="float: left; width: 150px;">	
	<img src="{{MEDIA_URL}}client_data/charitylogo_{{charity.app_id}}.png"> 
</div>

<div class="clear"></div>

<br/>


{% include "main/inc_stats.html" %}

<br/><br/>






Select a charity to display:
<form name="formCharity"> 
<select id="selectCharity" name="selectCharity" size="1">
{% for c in charity_list %} 
	<option value="{% url charity_info c.id %}" {% ifequal c.id charity.id %}selected="selected"{% endifequal %}>{{c.name}}</option>
{% endfor %}
</select>
</form>
<br/>
<br/>

<script type="text/javascript">

// Force the first item to be selected. Otherwise if you restart the page (in firefox) wtih something else selected,
// you'll get the featured charity listings but the select box still has the previous selection.
$("#selectCharity").val("{% url charity_info charity.id %}");

$("#selectCharity").change( function() 
{
	window.location = $("#selectCharity").val(); 
		
} );

</script>	

{% endcache %}
{% endblock %}