{% extends "main/base_simple.html" %}
{% load i18n %}

{% block title %} - Contact Us{% endblock %}
{% block bodyid %}Contact{% endblock %}
{% block content_simple %}

<h2>Contact Us</h2>

<form class="simpleForm" method="post" action="{% url superdonate_django.main.views.contact %}">
	
	<div class="labelField">
		<label for="username">your name:</label>
		<div class="simpleFormInput">
			{{ form.name }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.name }}
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="labelField">
		<label for="username">your email address:</label>
		<div class="simpleFormInput">
			{{ form.email }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.email }}
		</div>
		<div class="clear"></div>
	</div>

	<div class="labelField">
		<label for="username">message:</label>
		<div class="simpleFormInput">
			{{ form.message }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.message }}
		</div>
		<div class="clear"></div>
	</div>
	
	<br/>
	<div class="labelField">
		<label for="password2">please enter these letters (spam detection):</label>
		<div class="simpleFormInput">
			{{ form.captcha }}
		</div>
		<div class="simpleFormError">
			{{ form.errors.captcha }}
		</div>
		<div class="clear"></div>
	</div>	
	<br/>

	<input type="submit" value="send message" />
		
</form>

{% endblock %}