{% extends "main/base_simple.html" %}
{% load i18n %}

{% block extra_head %}
<META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW" /> 
<!--
<META HTTP-EQUIV="Refresh" CONTENT="0; URL='{{ MEDIA_URL }}{{download_file}}'" />
-->
{% endblock %}

{% block title %} - Download for {{download_os}}{% endblock %}
{% block bodyid %}download{% endblock %}
{% block content_simple %}

<br/>
<h2>Thank you for downloading SuperDonate for {{download_os}}</h2>

<div class="infoCategoryText">
	<p>
	Your download will begin in a moment. If it doesn't, <a href="{{ MEDIA_URL }}{{download_file}}">click here</a> to try again.
	</p>
	
	<h2>Please support SuperDonate by spreading the word!</h2>

	{% include "main/inc_promote.html" %}

	<h2>Questions? Comments?</h2>

	<p>
		If you have any questions, please visit the <a href="{% url faq %}">FAQ</a> or <a href="{% url contact %}">contact us</a>.
		
		{% if extra_message %}
			{{ extra_message|safe }}
		{% endif %}	    
	</p> 

</div>

{% endblock %}
