{% extends "main/base_simple.html" %}
{% load i18n %}

{% block title %} - How Does SuperDonate Work?{% endblock %}
{% block bodyid %}how_does_superdonate_work{% endblock %}
{% block content_simple %}

<h2>How Does SuperDonate Work?</h2>
	
<!-- <img src="{{ MEDIA_URL }}img/screenshots/superdonate_screenshot_main.png" /> -->
	
<div id="panelHowWorkLeft">
	<br/>
	<img src="{{ MEDIA_URL }}img/icon128.png" alt="Earn money for charity automatically" />
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<img src="{{ MEDIA_URL }}img/howwork_science.png" alt="Earn money for charity automatically" />
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<img src="{{ MEDIA_URL }}img/howwork_hand_heart.png" alt="Give money to your favorite charity" />
</div>
<div id="panelHowWorkRight">	

	<p>
	SuperDonate earns money by automatically selling your idle computer time 
	to organizations that need to solve important research projects. This 
	idle computing time that would otherwise be wasted can now be used to 
	help many good causes.
	</p>
	
	<p>
	<b>SuperDonate does not affect the performance of your computer.</b>
	</p>

	<p>
	Whenever your computer is idle:
	</p>

	<div id="smallSteps">
	
	<div class="singleStep">
		<div class="stepNumber">1</div>	
		<div class="stepText">SuperDonate retrieves a research problem from an organization.</div>
		<div class="clear"></div>
	</div>
	
	<div class="singleStep">
		<div class="stepNumber">2</div>	
		<div class="stepText">SuperDonate silently works on solving this problem.</div>
		<div class="clear"></div>
	</div>
	
	<div class="singleStep">
		<div class="stepNumber">3</div>	
		<div class="stepText">SuperDonate sends the answer back to the organization.</div>
		<div class="clear"></div>
	</div>

	<div class="singleStep">
		<div class="stepNumber">4</div>	
		<div class="stepText">In exchange for this answer, the organization pays an amount of money towards the charity you selected.</div>
		<div class="clear"></div>
	</div>

	</div>

	<p>
	When you start using your computer again, SuperDonate releases all computer resources.
	This way, your computer performance is never affected.
	</p>

	<p>
	Distributed computing networks like SuperDonate are regularly used for AIDS and cancer research, 
	pharmaceutical drug discovery, economic forecasting, web indexing and 
	clean energy research.
	</p>

	<p>
	You will also be <b>helping the environment</b> by reducing energy waste and pollution caused by expensive and inefficient computer data centers.
	</p>

	<p>
	The longer you have SuperDonate running, the more you help donate. <b>Install it and forget about it -- you'll keep donating to charity!</b>
	</p>
	
	<img src="{{MEDIA_URL}}img/screenshots/superdonate_screenshot_main.png" />

</div>
<div class="clear"></div>


	
{% include "main/inc_download_buttons.html" %}


{% endblock %}