{% load cache %}

{% cache 3600 inc_download_buttons %}
<div class="mainSection">
	<!-- <div class="mainSectionHeader">Download SuperDonate</div> -->
	<h2>Please Download SuperDonate Now</h2>


	<div id="downloadButtonContainer">
	
		<div class="downloadButton" id="downloadButtonWindows">
		
			<a href="{% url download 'win' %}">
		
			<span class="smallText">
			Download SuperDonate for<br/>
			</span>
			
			<span class="bigText">
			Windows
			</span>
			
			</a>
			
		</div>	
	
		<div class="downloadButton" id="downloadButtonMac">
		
			<a href="{% url download 'osx' %}">
		
			<span class="smallText">
			Download SuperDonate for<br/>
			</span>
			
			<span class="bigText">
			Mac OS X
			</span>
			
			</a>
			
		</div>	
		
		<div class="downloadButton" id="downloadButtonLinux">
		
			<a href="{% url download 'linux' %}">
		
			<span class="smallText">
			Download SuperDonate for<br/>
			</span>
			
			<span class="bigText">
			Linux
			</span>
			
			</a>
			
		</div>	
		
		<div class="clear"></div>
		
		<div style="padding-top: 8px; font-size: 11px; color: #666666;">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<img src="{{ MEDIA_URL }}img/check.png" />
			No Spyware
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<img src="{{ MEDIA_URL }}img/check.png" />
			No Adware
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<img src="{{ MEDIA_URL }}img/check.png" />
			100% virus-free 
		</div>
		
	</div>

</div>
{% endcache %}