Here are some ways you can help promote SuperDonate!

<br/>
<br/>

<ul>
<li style="list-style: disc; padding-left: 0; margin-left: 20px;">
<a target="_blank" href="{% url invite_email %}">Invite your friends via email</a><br/>
</li>


{# <li style="list-style: disc; padding-left: 0; margin-left: 20px;"> #}
{# <a target="_blank" href="http://apps.facebook.com/superdonate/invite.php">Invite your Facebook friends</a><br/> #}
{# </li> #}


<li style="list-style: disc; padding-left: 0; margin-left: 20px;">
<a target="_blank" href="http://www.facebook.com/apps/application.php?id=54957063847&ref=ts">Become a SuperDonate fan on Facebook</a>
</li>
</ul>