{% load humanize %}

<h2>Daily Stats</h2>

<br/>

{% if daily_chart_url %}
	<img src="{{daily_chart_url}}" />
	<br/>
{% endif %}

<div class="infoCategoryText">

	<table class='prettyTable'>
		<tr>
			<th scope='col'>Date</th><th scope='col'>Work Units Earned</th>
		</tr>	
		
		{% for a in daily_data %}
			<tr class="{% cycle 'odd' 'even' %}">	
				<td class="day">{{ a.donation_date|date:"M d, Y" }}</td>
				<td class="value">{{ a.total_work_units|intcomma }}</td>
			</tr>
		{% endfor %}

	</table>
	
</div>

<br/><br/>

<h2>Monthly Stats</h2>

<br/>

{% if monthly_chart_url %}	
	<img src="{{monthly_chart_url}}" />
	<br/>
{% endif %}

<div class="infoCategoryText">


	<table class='prettyTable'>
		<tr>
			<th scope='col'>Date</th><th scope='col'>Work Units Earned</th>
		</tr>	
		
		{% for a in monthly_data %}
			<tr class="{% cycle 'odd' 'even' %}">	
				<td class="day">{{ a.donation_date|date:"M, Y" }}</td>
				<td class="value">{{ a.total_work_units|intcomma }}</td>
			</tr>
		{% endfor %}

	</table>
				 
</div>
