{% extends "main/base.html" %}
{% load i18n %}

{% block title %}{% endblock %}
{% block bodyid %}index{% endblock %}
{% block content %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=54957063847";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="splash">

	<div class="slideshow">


		<div class="slideshow_panel" style="">
			<div class="slideshow_panel_left">
			    <!-- <img src="{{ MEDIA_URL }}img/slides/slide1.png" title="SuperDonate"/> -->
			    <div style="height: 20px;"></div>
			    <img src="{{ MEDIA_URL }}img/happy/5987627.jpg" height="180" width="280" title="SuperDonate"/>
			</div>
			<div class="slideshow_panel_right">		    
				SuperDonate automatically earns money for your favorite charity
		    </div>
		    <div class="clear"></div>
		</div>


		<div class="slideshow_panel" style="display: none;">
			<div class="slideshow_panel_left">
			    <!-- <img src="{{ MEDIA_URL }}img/slides/slide2.png" title="SuperDonate"/> -->
			    <div style="height: 20px;"></div>
			    <img src="{{ MEDIA_URL }}img/happy/6312094.jpg" height="180" width="280" title="SuperDonate"/>
			</div>
			<div class="slideshow_panel_right">		    
		        Your computer will help solve important scientific, medical and mathematical problems
		    </div>
		    <div class="clear"></div>
		</div>
		
		
		<div class="slideshow_panel" style="display: none;">
			<div class="slideshow_panel_left">
			    <!-- <img src="{{ MEDIA_URL }}img/slides/slide8.png" title="SuperDonate"/> -->
			    <div style="height: 20px;"></div>
			    <img src="{{ MEDIA_URL }}img/happy/8198095.jpg" height="180" width="280" title="SuperDonate"/>
			</div>
			<div class="slideshow_panel_right">
		    	You can easily keep track of your personal and team donations to share with friends
		    </div>
		    <div class="clear"></div>
		</div>
						
	</div>

	{# Pager no longer working with the IE z-index fixes #}
	{# <div id="pager"> </div> #}	

</div>
<div class="clear"></div>


<div class="magicRow2Page">

{% if 0 %}
<div id="mainVideo" {#style="border: solid 2px #ff0000;"#} >
	<center>
		<div style="height:270px;">
			<a href="javascript: var a=1;">
				<img src="{{ MEDIA_URL }}movie/static_intro3.png" alt="Watch SuperDonate Introduction Video" />
			</a>
		</div>
	</center>
</div>
{% endif %}

{% if 0 %}
	<div style="z-index:3; position:absolute; background:#ff0000; width:500px; height:500px;">
	HELLO!!!!
	</div>
	<div style="z-index:2; position:relative;">
		<center>
		
		  	<!-- the comment and script is used to workaround the KB912945 patch -->
		  	<!--[if gte IE 6]> <comment id="to_be_rewritten"> <![endif]-->
		  	<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" WIDTH="640" HEIGHT="380" id="movie">
		  	<PARAM NAME=movie VALUE="SuperDonate.swf"> 
		  	<PARAM NAME=quality VALUE=high>
		  	<PARAM NAME=bgcolor VALUE=#ffffff>
		  	<PARAM NAME=allowScriptAccess VALUE=always>
		  	<param name="wmode" value="transparent">
		  	<EMBED src="{{ MEDIA_URL }}movie/SuperDonate.swf" quality=high wmode="transparent" bgcolor=#ffffff WIDTH="640" HEIGHT="380" NAME="movie" ALIGN="" allowScriptAccess="always" TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"></EMBED>
		  	</OBJECT>
		  	</comment><script language="Javascript" src="{{ MEDIA_URL }}movie/ieupdate.js"></script>	
		
		</center>
	</div>
{% endif %}	
	
{% if 0 %}

	<div class="magicRowItemScreenshot" style="margin: 0 auto 0 auto;">
		<img src="{{ MEDIA_URL }}img/happy/a1.jpg" />
	</div>

{% endif %}	


<br/>

<!--
<div id="softwareBox">			
	{# TB TODO - link to the correct download page #}
	<img src="{{ MEDIA_URL }}img/superdonate_box.png" alt="SuperDonate automatically donates to charity" />		
</div>
-->




<div id="testColumnHolder">
	<div id="testColumnLeft" style="float:left; width: 650px; padding-right: 100px;">
	



	
<h2>
Automatically earn money for charity
</h2>	
	
<div id="steps">

	<!--
	<div id="stepHeader">			
		Earning money for charity with SuperDonate is simple and safe.
	</div>
	-->
	
	<div class="singleStep">
		<div class="stepNumber">1</div>	
		{# TB TODO - link to the correct download page #}
		<div class="stepText">
		
			<a href="
				{% ifequal user_os 0 %}{% url download 'win' %}{% endifequal %}
				{% ifequal user_os 1 %}{% url download 'linux' %}{% endifequal %}
				{% ifequal user_os 2 %}{% url download 'osx' %}{% endifequal %}
			">
				Download
			</a> 
		
			and install SuperDonate.</div>
		<div class="clear"></div>
	</div>
	
	<div class="singleStep">
		<div class="stepNumber">2</div>	
		<div class="stepText">Select your favorite charity.</div>
		<div class="clear"></div>
	</div>
	
	<div class="singleStep">
		<div class="stepNumber">3</div>	
		<!-- <div class="stepText">You're done!</div>  -->
		<div class="stepText">Your computer will now silently work in the background to earn money for charity!</div>
		<div class="clear"></div>
	</div>

</div>

<br/>
<br/>

<!--
<img src="{{ MEDIA_URL }}img/happy/6312094.jpg" height="180" width="280" title="SuperDonate"/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="{{ MEDIA_URL }}img/happy/8198095.jpg" height="180" width="280" title="SuperDonate"/>
-->
<img src="{{ MEDIA_URL }}img/screenshots/superdonate_screenshot_main.png" title="SuperDonate"/>

<br/>
<br/>

<p>
SuperDonate will never slow down your computer.
</p>


<p>
<!-- SuperDonate will now automatically earn money for the charity you have selected.  -->You can minimize the program and it will take care of the rest. You will never notice that SuperDonate is running since it only activates when you are not using your computer.
</p>

<p>
Every day millions of computers are powered on but idle, wasting energy while performing no useful work.
When your screensaver is running, only a tiny percentage of your computer's 
processing power is actually being used. The rest is wasted.
</p> 

<p>
SuperDonate lets you donate this idle computing power to help solve important research projects, and in return earn 
money for charity.
</p> 

<!--
<p>
Your SuperDonate account will track your daily and monthly donation amounts for each charity. You can also create or join teams to group together your donated resources.
</p>
 -->

<!--
<img src="{{MEDIA_URL}}img/screenshots/superdonate_screenshot_main.png" />
 -->

</div>
<div id="testColumnRight" style="float:left; width: 200px;">
	
		<a href="{% url charity_info_app_id 3 %}">
			<img src="{{MEDIA_URL}}client_data/charitylogo_3.png" />
		</a>
		<br/>
		<br/>
		<a href="{% url charity_info_app_id 0 %}">
			<img src="{{MEDIA_URL}}client_data/charitylogo_0.png" />
		</a>
		<br/>
		<br/>
		<a href="{% url charity_info_app_id 2 %}">
			<img src="{{MEDIA_URL}}client_data/charitylogo_2.png" />
		</a>
		<br/>
		<br/>
		<a href="{% url charity_info_app_id 4 %}">
			<img src="{{MEDIA_URL}}client_data/charitylogo_4.png" />
		</a>
		<br/>
		<br/>
		<a href="{% url charity_info_app_id 5 %}">
			<img src="{{MEDIA_URL}}client_data/charitylogo_5_full.png" />
		</a>
		<br/>
		<br/>
		<br/>
		{# This is trashing the SSL happy key. It's probably also unnecessary...? #}
		{# <a href="http://www.dodownload.com/av-report/donatebot.html" target="_blank"> #}
		{#	<img src="http://www.dodownload.com/images/av-buttons/donatebot.png" alt="SuperDonate is safe to download"> #}
		{# </a> #}
		
		
	</div>
	
	<div class="clear"></div>
</div>


<!-- <img src="{{ MEDIA_URL }}img/happy/8198095.jpg" height="180" width="280" title="SuperDonate"/>  -->

<!-- <img src="{{ MEDIA_URL }}img/screenshots/superdonate_screenshot_main.png" title="SuperDonate"/> -->

<div>
    <div style="float: left;">
        <div class="fb-like" data-href="http://www.superdonate.org" data-send="true" data-width="450" data-show-faces="true"></div>
    </div>

    <div style="float: left; margin-left: 100px;">
        <div class="g-plusone" data-annotation="inline" data-width="300"></div>
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<br/>

{% include "main/inc_download_buttons.html" %}



<!--

<div class="mainSection">
	<h2>Screenshot</h2>
	
	<center>
		<img src="{{MEDIA_URL}}img/screenshots/superdonate_screenshot_main.png" />
	</center>
	
	<br/>
	
	
	<div id="mainVideo" >
		<center>
				<a href="javascript: var a=1;">
					Click here to watch a short SuperDonate video.
				</a>
		</center>
	</div>
	
</div>

<div id="award">
	<a href="http://www.dodownload.com/av-report/donatebot.html" target="_blank">
		<img src="http://www.dodownload.com/images/av-buttons/donatebot.png" alt="SuperDonate is safe to download">
	</a>
</div>

<div class="clear"></div>

<div class="mainSection">
	<h2>News</h2>

	<div class="mainSectionItem">
	<b>March 2, 2010:</b> The Mac OS X build of SuperDonate 1.1 is now also available for download.
	</div>			

	<div class="mainSectionItem">
	<b>February 27, 2010:</b> SuperDonate 1.1 is now available! This update includes personal user account support, team support and an improved user interface.
	</div>			

	<div class="mainSectionItem">
	<b>February 1, 2010:</b> SuperDonate 1.0.20 has been released! You can now earn money for <a href="partners.php#partnerNameInvisibleYouthNetwork">Invisible Youth Network</a>, a nonprofit that provides resources and support for an estimated 1.5 million homeless at risk youth.  
	</div>			
	
	<div class="mainSectionItem">
	<b>December 17, 2009:</b> We have released SuperDonate 1.0.19! This update includes numerous speed improvements and bug fixes for Windows and Linux machines.
	</div>

	<div class="mainSectionItem">
	<b>November 27, 2009:</b> SuperDonate 1.0.18 is now available. It features new user interface improvements, especially for the Mac.
	</div>
	
	<div class="mainSectionItem">
	<b>November 16, 2009:</b> SuperDonate 1.0.17 has been released! <a href="partners.php#partnerNamePhilippineAidSociety">Philippine Aid Society</a> is now in the list of available charities that you can donate to. Philippine Aid Society provides a variety of charitable services in the Philippines focused on eliminating poverty.
	</div>
	
	<div class="mainSectionItem">
	<b>October 29, 2009:</b> SuperDonate 1.0.16 is out! This update lets you specify a time of the day when SuperDonate should run and fixes a few bugs. 
	</div>		

</div>



 -->
{# {% include "main/inc_download_buttons.html" %} #}






<script type="text/javascript">

// Splash cycle
{# Disabled because it is causing IE to screw up z-index with the drop down menu! #}

$(document).ready(function(){

	// Fixes IE z-index ordering issues
	// Otherwise the dropdown menu will not display on top of the splash screen.
	/*
	var zIndexNumber = 1000;
	$('div').each(function() {
		$(this).css('zIndex', zIndexNumber);
		zIndexNumber -= 1;
	});
	*/
	
	
  $('.slideshow').cycle({	  
    fx: 'fade',
    timeout: 7000,
    pager: "#pager",
    cleartype: true, // enable cleartype corrections (IE)
    cleartypeNoBg:  true
  });  
  $('a').click(function(){ $(this).blur(); });
});





// Video
$('#mainVideo').click( function() {

	alert("thing");
	//$("#mainVideo").slideUp("slow");
	
	//$(".magicRowItemScreenshot").slideUp("slow", function() {	
		
		$("#mainVideo").html("<center><div style='height:270px;'>Loading... please wait...</div></center>");
		$("#mainVideo").load("{% url ajax_movie %}", {}, 
				function() { 
					//$("#mainGameAjaxLoad").hide();
					//document.body.style.cursor='auto';

					//$("#mainVideo").fadeIn("slow");
					 
				} 
			);
		
	//});	
	
});


</script>

</div>

{% endblock %}
