{% extends "main/base_simple.html" %}
{% load i18n %}

{% block title %} - Invite Friends{% endblock %}
{% block bodyid %}Invite Friends{% endblock %}
{% block content_simple %}

<h2>Invite Friends</h2>

<p>
You can use this form to quickly tell your friends about SuperDonate. We will send a single email on your behalf with the message you specify. We will not use these email addresses for anything else.
</p>

<form class="simpleForm" method="post" action="{% url superdonate_django.main.views.invite_email %}">
	
	<div class="labelField">
		<label for="username">your name:</label>
		<div class="simpleFormInput">
			{{ form.name }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.name }}
		</div>
		<div class="clear"></div>
	</div>
	
	<br/>
	
	<div class="labelField">
		<label for="username">enter as many friends' email addresses as you'd like:</label>
		<div class="simpleFormInput">
			{{ form.target0 }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.target0 }}
		</div>
		<div class="clear"></div>		
	</div>
	
	<div class="labelField">	
		<div class="simpleFormInput">
			{{ form.target1 }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.target1 }}
		</div>
		<div class="clear"></div>		
	</div>
	
	<div class="labelField">
		<div class="simpleFormInput">
			{{ form.target2 }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.target2 }}
		</div>
		<div class="clear"></div>		
	</div>
	
	<div class="labelField">	
		<div class="simpleFormInput">
			{{ form.target3 }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.target3 }}
		</div>
		<div class="clear"></div>		
	</div>
	
	<div class="labelField">	
		<div class="simpleFormInput">
			{{ form.target4 }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.target4 }}
		</div>
		<div class="clear"></div>		
	</div>

	<br/>

	<div class="labelField">
		<label for="username">your message:</label>
		<div class="simpleFormInput">
			{{ form.message }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.message }}
		</div>
		<div class="clear"></div>
	</div>
	
	<br/>
	<div class="labelField">
		<label for="password2">please enter these letters (spam detection):</label>
		<div class="simpleFormInput">
			{{ form.captcha }}
		</div>
		<div class="simpleFormError">
			{{ form.errors.captcha }}
		</div>
		<div class="clear"></div>
	</div>	
	<br/>

	<input type="submit" value="send message" />
		
</form>

{% endblock %}