{% extends "main/base_simple.html" %}

{% block title %} - Password reset{% endblock %}
{% block bodyid %}password_reset{% endblock %}
{% block content_simple %}


{% if validlink %}

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form action="" method="post">
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">New password:</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="Change my password" /></p>
</form>

{% else %}

<h2>Password reset unsuccessful</h2>

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}


{% endblock %}