{% extends "main/base_simple.html" %}

{% block title %} - Password reset{% endblock %}
{% block bodyid %}password_reset{% endblock %}
{% block content_simple %}

<h2>Forgotten your password?</h2>

<p>
Enter your e-mail address below, and we'll e-mail instructions for setting a new one.
</p>

<form action="" method="post">
{{ form.email.errors }}
<p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset my password" /></p>
</form>

{% endblock %}