{% extends "main/base_simple.html" %}
{% load i18n %}

{% block title %} - Privacy{% endblock %}
{% block bodyid %}privacy{% endblock %}
{% block content_simple %}

<h2>Privacy Policy</h2>

<p>
Effective January 28, 2010
</p>

<p>
This privacy policy describes how we collect and use your data. SuperDonate, Inc. owns and operates SUPERDONATE.ORG.
</p>
<p>
1. INFORMATION WE COLLECT.<br/>SUPERDONATE.ORG collects information our users submit to us such as their name and e-mail address to allow us to identify users and notify them of changes or updates to our service. SUPERDONATE.ORG also collects information from users that is unique, but cannot be linked to a specific individual, such as IP address and browser type. A user's session will be tracked, but each user will remain anonymous. We gather this information for systems administration purposes and to track user trends. We do not link IP addresses to any personally identifiable information.
</p>
<p>
2. COOKIES.<br/>Like many other Web sites, SUPERDONATE.ORG uses a standard technology called "cookies." Cookies are small pieces of information stored on your hard drive -- not on our site. They can help make the Internet experience quicker and more convenient. Cookies allow our users to login without entering their ID and password each time they use SUPERDONATE.ORG. Cookies help us understand how members use SUPERDONATE.ORG, which allows us to improve upon the service. Members who disable cookies will not be able to use SUPERDONATE.ORG.
</p>
<p>
3. HOW WE USE YOUR PERSONAL INFORMATION.<br/> SUPERDONATE.ORG uses personal information to create a secure and personalized service for our members.
</p>
<p>
4. DISCLOSURE OF PERSONAL INFORMATION.<br/> We will not sell, lease or exchange your personal data to third parties without first obtaining your express consent, unless required by law or to protect your membership.
</p>
<p>
5. LINKS TO OTHER WEBSITES.<br/> The SUPERDONATE.ORG site may contain links to other Web sites. Please be aware that SUPERDONATE.ORG is not responsible for the privacy practices of other sites our users choose to visit. If our users provide any information directly to parties other than SUPERDONATE.ORG, different rules may apply to the use or disclosure of the personal information disclosed. We encourage you to investigate and ask questions before disclosing your personal information to third parties.
</p>
<p>
6. THIRD PARTY ADVERTISERS.<br/> SUPERDONATE.ORG may choose to deploy advertising on the service that is delivered to users through a third party's advertising server. Information about users' visits to SUPERDONATE.ORG, such as number of times they have viewed an ad (but no personally identifiable information), would be used to serve ads to users on this site.
</p>
<p>
7. CHAT ROOMS, MESSAGE BOARDS, AND PUBLIC FORUMS.<br/> Please be aware that whenever members voluntarily disclose personal information online - e.g., message boards, chat areas, file uploads, events, and listings - that information becomes public and can be collected and used by others. By posting personal information online in public forums, members may receive unsolicited messages from other parties.
</p>
<p>
8. PRIVACY PROTECTION FOR CHILDREN.<br/> In compliance with the Children's Online Privacy Protection Act (COPPA), we will not knowingly provide access to SUPERDONATE.ORG to persons under the age of thirteen (13). If SUPERDONATE.ORG later learns that any member is under the age of thirteen (13), we will take appropriate steps to remove the member's information from the database and we will restrict this individual from future access to the SUPERDONATE.ORG service.
</p>
<p>
9. UPDATING AND DELETING PERSONAL INFORMATION.<br/> Users who leave the service may choose to have their personal information deleted by contacting us.
</p>
<p>
10. OPT-OUT OF EMAIL.<br/> Users of SUPERDONATE.ORG may choose not to receive email notifications at their registered email addresses. To opt out of the announcements, follow the instructions at the bottom of the e-mail.
</p>
<p>
11. SECURITY PROCEDURES.<br/> SUPERDONATE.ORG has implemented security measures to protect member information from loss, misuse and alteration. We use industry-standard practices such as encrypted storage, firewalls and password protection systems to safeguard the confidentiality of your personal information. Each of our employees is aware of our security policies, and your information is only available to those employees who need it to perform their jobs.
</p>
<p>
12. CONSENT.<br/> This Privacy Policy is a part of the SUPERDONATE.ORG Terms of Use policy. By using SUPERDONATE.ORG, users are using a service provided by SUPERDONATE.ORG and they agree to be bound by the Terms of Use and this Privacy Policy. Some terms may be defined in the Terms of Use. This Privacy Policy only addresses activities from our servers.
</p>
<p>
13. NOTIFICATION OF CHANGES.<br/> If SUPERDONATE.ORG changes its policy and seeks to use your personally identifiable information in a manner different from that stated at the time of collection, you will be notified via e-mail. In addition, if we make any material changes in our privacy practices that do not affect user information already stored in our database, we will post a notice on our Web site notifying users of the change. In some cases where we post the notice, we will also e-mail users who have opted to receive communications from us to notify them of the changes in our privacy practices.
</p>

{% endblock %}