{% extends "main/base_simple.html" %}
{% load i18n %}

{% block title %} - Promote{% endblock %}
{% block bodyid %}promote{% endblock %}
{% block content_simple %}

<h2>Please support SuperDonate by spreading the word!</h2>

{% include "main/inc_promote.html" %}
<br/>

<hr/>

On this page are banners that you can use to link to SuperDonate.org. Please feel free to link directly to these images or copy them onto your own computer and use them in any way.<br/><br/>

There are two ways you can link these banners to SuperDonate.org:<br/><br/>
<strong>#1</strong> Select the banner that you want to add to your site. Then copy the HTML code that is written below the banner into your web page.<br/><br/>
<strong>#2</strong> You can write your own HTML code to use these banner images. Right-click on the banner you have selected and choose "Save Image As..." or "Save Picture As...". Then link to http://media.superdonate.org using the image.<br/><br/>

Thank you for linking to SuperDonate!

<br/>
<br/>

<hr/>

<img src="{{MEDIA_URL}}banners/superdonate_728_90x.png" width="728" height="90" />
<br/>
<pre>
&lt;a href="http://www.superdonate.org/"&gt;
&lt;img src="http://media.superdonate.org/banners/superdonate_728_90x.png" 
width="728" height="90" border="0" alt="SuperDonate free charity"&gt;&lt;/a&gt;
</pre>
<hr/>

<img src="{{MEDIA_URL}}banners/superdonate_728_90y.png" width="728" height="90" />
<br/>
<pre>
&lt;a href="http://www.superdonate.org/"&gt;
&lt;img src="http://media.superdonate.org/banners/superdonate_728_90y.png" 
width="728" height="90" border="0" alt="SuperDonate free charity"&gt;&lt;/a&gt;
</pre>
<hr/>

<img src="{{MEDIA_URL}}banners/superdonate_728_90.png" width="728" height="90" />
<br/>
<pre>
&lt;a href="http://www.superdonate.org/"&gt;
&lt;img src="http://media.superdonate.org/banners/superdonate_728_90.png" 
width="728" height="90" border="0" alt="SuperDonate free charity"&gt;&lt;/a&gt;
</pre>
<hr/>

<img src="{{MEDIA_URL}}banners/superdonate_234_60b.png" width="234" height="60" />
<br/>
<pre>
&lt;a href="http://www.superdonate.org/"&gt;
&lt;img src="http://media.superdonate.org/banners/superdonate_234_60b.png" 
width="234" height="60" border="0" alt="SuperDonate free charity"&gt;&lt;/a&gt;
</pre>
<hr/>

<img src="{{MEDIA_URL}}banners/superdonate_130_31.png" width="130" height="31" />
<br/>
<pre>
&lt;a href="http://www.superdonate.org/"&gt;
&lt;img src="http://media.superdonate.org/banners/superdonate_130_31.png" 
width="130" height="31" border="0" alt="SuperDonate free charity"&gt;&lt;/a&gt;
</pre>
<hr/>

<img src="{{MEDIA_URL}}banners/superdonate_120_60a.png" width="120" height="60" />
<br/>
<pre>
&lt;a href="http://www.superdonate.org/"&gt;
&lt;img src="http://media.superdonate.org/banners/superdonate_120_60a.png" 
width="120" height="60" border="0" alt="SuperDonate free charity"&gt;&lt;/a&gt;
</pre>

<hr/>

<img src="{{MEDIA_URL}}banners/superdonate_88_31.png" width="88" height="31" />
<br/>
<pre>
&lt;a href="http://www.superdonate.org/"&gt;
&lt;img src="http://media.superdonate.org/banners/superdonate_88_31.png"
width="88" height="31" border="0" alt="SuperDonate free charity"&gt;&lt;/a&gt;
</pre>
<hr/>

<img src="{{MEDIA_URL}}banners/superdonate_160_600.png" width="160" height="600" />
<br/>
<pre>
&lt;a href="http://www.superdonate.org/"&gt;
&lt;img src="http://media.superdonate.org/banners/superdonate_160_600.png" 
width="160" height="600" border="0" alt="SuperDonate free charity"&gt;&lt;/a&gt;
</pre>

<hr/>
<br/>
SuperDonate 8.5 x 11 paper poster: <a href="{{MEDIA_URL}}banners/superdonate_poster.pdf">download here!</a>

<!-- Test the links -->


{% endblock %}
