{% extends "main/base_simple.html" %}
{% load i18n %}

{% block title %} - Register{% endblock %}
{% block bodyid %}register{% endblock %}
{% block content_simple %}

<h2>Create your SuperDonate account</h2>

<form class="simpleForm" method="post" action="{% url superdonate_django.main.views.register %}">

	<div class="labelField">
		<label for="username">username:</label>
		<div class="simpleFormInput">
			{{ form.username }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.username }}
		</div>
		<div class="clear"></div>
	</div>

	<div class="labelField">
		<label for="email">email (<a href="{% url privacy %}">we never spam</a>):</label>
		<div class="simpleFormInput">
			{{ form.email }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.email }}
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="labelField">
		<label for="password">password:</label>
		<div class="simpleFormInput">
			{{ form.password }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.password }}
		</div>
		<div class="clear"></div>
		
	</div>
	
	<div class="labelField">
		<label for="password2">password again:</label>
		<div class="simpleFormInput">
			{{ form.password2 }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.password2 }}
		</div>
		<div class="clear"></div>
	</div>

	<br/>
	<div class="labelField">
		<label for="password2">please enter these letters (spam detection):</label>
		<div class="simpleFormInput">
			{{ form.captcha }}
		</div>
		<div class="simpleFormError">
			{{ form.errors.captcha }}
		</div>
		<div class="clear"></div>
	</div>
	
	<br/>

	<input type="submit" value="register" />
	<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}