{% extends "main/base_simple.html" %}
{% load i18n %}

{% block title %} - Uninstall Survey{% endblock %}
{% block bodyid %}uninstall{% endblock %}
{% block content_simple %}

<style>

.magicRow2Page h1.sg_Title {
	color: #000000;
}

</style>

<script src="http://app.sgizmo.com/s/survey_js2.php?id=YVFZG6YMQ9USNTSZE7F0AU3P8FPI68-158647" type="text/javascript" ></script> 
<noscript><br/><br/><a href="http://www.surveygizmo.com/s/158647/yvfzg" >Please take a moment to help out SuperDonate by taking a quick survey.</a></noscript>

{% endblock %}