{% extends "main/base_simple.html" %}
{% load i18n %}
{% load cache %}

{% block title %} - {{team.name}}{% endblock %}
{% block bodyid %}team_info{% endblock %}
{% block content_simple %}

<h2>Team: {{team.name}}</h2>


<div class="logoSection">
	<div class="leftSide">
		{{team.description}}
		<br/>
		<a style="font-size:11px;" href="{{team.url}}" target="_blank">{{team.url}}</a>	
	</div>
	
	<div class="rightSide">
		{% if team.logo %}
			<img src="{{ team.logo.url }}" />
		{% endif %} 
	</div>
	<div class="clear"></div>
</div>
	

<br/>
		
	
{% ifequal team.owner user %}
<br/>
<a href="{% url user_edit_team team.id %}">edit team</a>	
{% endifequal %}

<br/>
{% ifequal user_team team %}		
	You are a member of this team.		
{% else %}
	<a href="{% url user_join_team team.id %}">join team</a>
	{% if user_team %}
		<br/>Note: if you join, you will be taken off your previous team ({{user_team.name}}).
	{% endif %}
{% endifequal %} 	

{# We can't cache the stuff above since user team membership/etc can quickly change for a user! #}
{% cache 3600 team_info team.id %}
	
<br/><br/>

{% include "main/inc_stats.html" %} 

<br/><br/>
{{team.name}} was created on {{team.create_date|date:"M d, Y"}} by {{team.owner}} and has {{team.num_members}} member{% ifnotequal team.num_members 1 %}s{% endifnotequal %}.

{% endcache %}
{% endblock %}