{% extends "main/base_simple.html" %}
{% load i18n %}
{% load compressed %}

{% block title %} - Teams{% endblock %}
{% block bodyid %}team_list{% endblock %}

{% block extra_head %}

	{% if 1 %}
	
		{% compressed_css 'group_datatables' %}
		{% compressed_js 'group_datatables' %}
	
	{% else %}
	
		<script type="text/javascript" src="{{ MEDIA_URL }}lib/datatables/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}lib/datatables/dataTables_extra.js"></script>
		<link rel="stylesheet" href="{{ MEDIA_URL }}lib/datatables/datatables.css" type="text/css" media="all" charset="utf-8" />
	
	{% endif %}
	
{% endblock %}


{% block content_simple %}

<h2>Teams</h2>



<table id="teamTable" class="display">

	<thead>   	
		<tr>
			<th>Logo</th><th>Name</th><th>Work Units</th><th>Members</th><th>Created</th>
		</tr>	
	</thead>
	
	{% for team in team_list %}
		<tr>
			<td>
				<a href="{% url team_info team.id %}">
				<center>
					{% if team.logo %}
						<img src="{{ team.logo.url }}" />
					{% else %}
						<img src="{{ MEDIA_URL }}img/logo.png" />
					{% endif %}
				</center>
				</a>
			</td>		
			
			<td>
				<a href="{% url team_info team.id %}">
					{{team.name}}
				</a>
			</td>
			
			<td>
			{% if team.work_units %}
				{{team.work_units}}
			{% else %}
				0
			{% endif %}
			</td>
			
			<td>{{team.num_members}}</td>
			<td>{{team.create_date|date:"Y-m-d"}}</td>
			
		</tr>
	{% endfor %}

</table>

<script type="text/javascript">
	$(document).ready(function() {
	
	    var oTable = $('#teamTable').dataTable(
	
	    {
		    
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"bSort": true,
		"bInfo": true,		
		"bAutoWidth": false,
		"aoColumns": [
			{ "sType": "html" },
			{ "sType": "html" },
			{ "sType": "numeric" },
			{ "sType": "numeric" },
			{ "sType": "date" }				
			]
			
	    });
	});
</script>

{% endblock %}