<html>
<head>

<link rel="stylesheet" href="{{MEDIA_URL}}font/test.css" type="text/css" media="all" charset="utf-8" />

</head>
<body>

Remote

<h1>
Snap is a simple web development framework for unix 
</h1>

<br/>

<h2>
django test
</h2>

</body>
</html>