{% extends "main/base_simple.html" %}
{% load i18n %}

{% block title %} - Edit Team{% endblock %}
{% block bodyid %}user_edit_team{% endblock %}
{% block content_simple %}

<h2>Edit Team</h2>

<form class="simpleForm" enctype="multipart/form-data" action="" method="POST">

	<div class="labelField">
		<label for="name">name:</label>
		<div class="simpleFormInput">
			{{ form.name }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.name }}
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="labelField">
		<label for="name">description:</label>
		<div class="simpleFormInput">
			{{ form.description }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.description }}
		</div>
		<div class="clear"></div>
	</div>

	<div class="labelField">
		<label for="name">web page (optional):</label>
		<div class="simpleFormInput">
			{{ form.url }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.url }}
		</div>
		<div class="clear"></div>
	</div>	
	
	<br/>
	<br/>
	<fieldset>
		<legend>Logo Image (150x50 pixels)</legend>
		{{ form.logo }}
	</fieldset>
	<br/>
	<br/>
	
	<input type="submit" value="Submit" />
	
</form>

{% endblock %}