{% extends "main/base_simple.html" %}
{% load i18n %}

{% block title %} - Edit Profile{% endblock %}
{% block bodyid %}user_edit_profile{% endblock %}
{% block content_simple %}

<h2>Update User Profile</h2>

<form class="simpleForm" method="post" action="{% url user_edit_profile %}">

	<div class="labelField">
		<label for="username">New email address:</label>
		<div class="simpleFormInput">
			{{ form.email }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.email }}
		</div>
		<div class="clear"></div>
	</div>

	<div class="labelField">
		<label for="username">For verification, please enter your password:</label>
		<div class="simpleFormInput">
			{{ form.password }}		
		</div>
		<div class="simpleFormError">
			{{ form.errors.password }}
		</div>
		<div class="clear"></div>
	</div>
	
	<br/>

	<input type="submit" value="Submit" />
</form>

<br/><br/><br/>
<a href="{% url password_reset %}">Click here to change your password</a>.

{% endblock %}