{% extends "main/base_simple.html" %}
{% load i18n %}
{% load humanize %}

{% block title %} - {{user.username}}{% endblock %}
{% block bodyid %}user_home{% endblock %}
{% block content_simple %}


<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
	google.load('visualization', '1', {'packages':['annotatedtimeline']});

	google.setOnLoadCallback(drawChart);
	function drawChart() {
		{# TB TODO - Https/http #}
		//datasource = new google.visualization.Query('{{request.META.HTTP_HOST}}/gviz_datasource/');
		datasource = new google.visualization.Query('/gviz_datasource/');
		var id = document.getElementById('chart_div');
		var graph = new google.visualization.AnnotatedTimeLine(id);

		var start_zoom = new Date();
		start_zoom.setDate(start_zoom.getDate()-30); 
		
		datasource.setQuery('{{user.id}}');
		datasource.send( function(response) {
			graph.draw(response.getDataTable(), {wmode:'opaque',zoomStartTime:start_zoom});
		});
	}
	
</script>




<h2 class="simple">User: {{user.username}}</h2>

{% if profile.last_app_login_date %}	

<div class="fadeBox" style="margin-right:50px;">
	
	<div class="fadeBoxText">
		You are earning money for:
		<br/>
		
		<a href="{% url charity_info profile.charity.id %}">		
			<b>{{profile.charity.name}}</b>
		</a>
		<br/>
		<a href="{% url charity_list %}">
			View charity list
		</a>
	</div>
	
	<div class="fadeBoxLogo">
		<a href="{% url charity_info profile.charity.id %}">	
			<img align="top" src="{{MEDIA_URL}}client_data/charitylogo_{{profile.charity.app_id}}.png">
		</a>
	</div>
	
	<div class="clear"></div>
</div>	

{% else %}
	You have not yet used this account with the SuperDonate application. Download and install SuperDonate to start earning money for charity!
	<br/>
	{% include "main/inc_download_buttons.html" %}

{% endif %}


<div class="fadeBox">
{% if profile.team %}

	<div class="fadeBoxText">
		You are a member of:
		<br/> 
		<a href="{% url team_info profile.team.id %}">
			<b>{{profile.team.name}}</b>			
		</a>
	</div>
	
	<div class="fadeBoxLogo">
		<a href="{% url team_info profile.team.id %}">
			<center>
			{% if profile.team.logo %}	
				<img src="{{ profile.team.logo.url }}" />	
			{% else %}
				<img src="{{MEDIA_URL}}img/logo.png" />
			{% endif %}
			</center>
		</a>
	</div>
	
	<div class="clear"></div>
	
	{% ifequal profile.team.owner user %}			
		<a href="{% url user_edit_team profile.team.id %}">Edit Team</a>
		|
	{% endifequal %}
	<a href="{% url user_create_team %}">Create a New Team</a>
	|
	<a href="{% url team_list %}">View Team List</a>
	

{% else %}

	<div class="fadeBoxText">
		You are not on a team.
	</div>
	<div class="clear"></div>
	
	<a href="{% url user_create_team %}">Create a New Team</a>
	|
	<a href="{% url team_list %}">View Team List</a>
	
		
{% endif %}
		
</div>

<div class="clear"></div>

<br/>
<div id='chart_div' style='width:800px; height: 240px;'></div>
<br/>

{# We can't use inc_stats like with teams/charities because we display a charity logo in the chart for daily values... #}
{# Maybe do inc_stats_daily and inc_stats_monthly? That way we can still use the monthly one! #}
<div class="infoCategory">Daily Stats</div>

{# {% if daily_chart_url %} #}
{#	<br/> #}
{#	<img src="{{daily_chart_url}}" /> #}
{#	<br/> #}
{# {% endif %} #}

<div class="infoCategoryText">
	
	<table class='prettyTable'>
		<tr>
			<th scope='col'>Date</th><th scope='col'>Work Units Earned</th><th scope='col'>Charity</th>
		</tr>	
		
		{% for a in daily_data %}
			<tr>	
				<td class="day">{{ a.donation_date|date:"M d, Y" }}</td>					
				<td class="value">{{ a.total_work_units|intcomma }}</td>				
				<td class="value">
					<a href="{% url charity_info a.charity.id %}">
						<img align="center" width="75" height="25" src="{{MEDIA_URL}}client_data/charitylogo_{{a.charity.app_id}}.png">							
					</a>
				</td>	
			</tr>
		{% endfor %}

	</table>
	
</div>

<br/><br/>

<div class="infoCategory">Monthly Stats</div>

{# {% if monthly_chart_url %} #}
{# 	<br/> #}
{#	<img src="{{monthly_chart_url}}" /> #}
{#	<br/> #}
{# {% endif %} #}

<div class="infoCategoryText">
		
	<table class='prettyTable'>
		<tr>
			<th scope='col'>Date</th><th scope='col'>Work Units Earned</th>
		</tr>	
		
		{% for a in monthly_data %}
			<tr>	
				<td class="day">{{ a.donation_date|date:"M, Y" }}</td>
				<td class="value">{{ a.total_work_units|intcomma }}</td>
			</tr>
		{% endfor %}

	</table>
				 	
	
</div>


<br/>
<br/>

Your email address: {{request.user.email}} <a href="{% url user_edit_profile %}">(change)</a>
<br/><br/>
Note: it can take up to 24 hours for your stats to get updated on this page. 

<!--
{% if profile.last_app_login_date %}
	You last started the SuperDonate application on {{profile.last_app_login_date|date:"M d, Y"}} at {{profile.last_app_login_date|date:"h:m"}} GMT.
{% else %}
	<br/>
	You have not yet used this account with the SuperDonate application. Download and install SuperDonate to start earning money for charity!
	<br/>
	{% include "main/inc_download_buttons.html" %}
{% endif %}	
 -->
 
{% endblock %}