/*
Copyright 2009, SuperDonate, Inc.  All rights reserved.
*/



#topalert_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background:#ffeeee;
    color: black;
    border: solid 2px red;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    padding: 5px;
}


/* FONTS */
@font-face {
    font-family: "Droid Sans";
    src: url("/media/font/DroidSans.ttf") format("truetype");
}
@font-face {
    font-family: "Droid Serif";
    src: url("/media/font/DroidSerif-Regular.ttf") format("truetype");
}

/*
@font-face {
    font-family: "PT Sans";
    src: url("/media/font/PT_Sans.ttf") format("truetype");
}


@font-face {
    font-family: "Liberation Mono";
    src: url("/media/font/LiberationMono-Regular.ttf") format("truetype");
}
*/






body, html {
 	color:#0C1A30;
	font-family:"Droid Serif","Georgia","Arial","Helvetica",sans-serif;
	font-size:17px;
	line-height:29px;
	margin: 0;
	
	background:#FFFFFF url(/media/img/snap/holy-light.png) repeat-x scroll 0 -100px;
}


a {
	text-decoration: none;
}

a:link img, a:visited img { 
	border: none;
}

a:focus, a:active, a:visited, a:link {
	outline: none;
	color: #0000ff;
}

p {
	margin:0 0 29px;
}

hr {
	width: 600px;
}

ul, ol, li { 
	list-style: none; padding: 0; margin: 0;
}

h1, h2, h3, h4 {
	color:#2C558A;
	font-family:"Gill Sans","PT Sans","Arial",sans-serif;
	font-weight:normal;
	letter-spacing:0.1em;
	text-shadow:0 1px 1px #FFFFFF;
	text-transform:uppercase;
}

h1 {
	font-size: 26px;
	line-height: 26px;
}

h2 {
	font-size: 22px;
	
	/* TB TODO - Move to .singleColumn h2 */
	border-bottom:1px solid #C2D1E1;
	line-height:44px;
	margin:0 0 13px;
	padding:0;
	
	padding-top: 10px;
}

.clear { 
	clear: both; 
	/* height: 1px; line-height: 1px;
	display: none; */
}

.clearInvisible {
	clear: both;
}

textarea {
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 12px;	
}


/* Get rid of empty space when creating a form */
form {
	margin: 0;
	padding: 0;
	display: inline;
	color: #000000;
}


label {
	display: block;
}

div.labelField {
	margin-top: 10px;	
}

form.simpleForm div.simpleFormInput {
	float: left;
}

form.simpleForm div.simpleFormError {
	float: left;
	color: red;
	padding-top: 8px;
	padding-left: 10px;
}

form img.captcha {
	display: block;	
}

pre {
	font-family: courier, serif;
	font-size: 12px;
	background: #dddddd;
}

html, body {
    height: 100%;
}

div.miniBR
{
	height: 7px;
}

div.mainSection {
	margin-bottom: 20px;	
}

div.mainSection div.mainSectionHeader {
	background-image: url(/media/img/dotted.gif);
	background-repeat: repeat-x;
	background-position:bottom;	
	width: 100%;
    color: #1c8e44;
	font-family:arial,helvetica,sans-serif;
    font-size: 18px;
	margin-top: 15px;
	margin-bottom: 10px;
    line-height: 36px;
}

div.mainSection div.mainSectionItem {
	margin-bottom: 10px;	
}

.magicRow2Page div.infoCategory {
	font-weight: bold;
    font-size: 1em;
    
	text-align: left;
	color: #0033aa;
	/* color: #008811; */
}

.magicRow2Page div.infoCategoryText {
    /* font-size: 90%; */
}

.magicRow2Page div.infoCategoryText p {
	padding-bottom: 16px;
}

/* CHARITY/TEAM/USER page */

div.fadeBox {
	background: #ffffff url(/media/img/fade_box.jpg) repeat-y 0px 0px;
	padding: 10px;
	border: 2px solid #aaaaaa;
	
	width: 420px;
	float: left;
}

div.fadeBox div.fadeBoxText {
	float: left; 
	width: 250px;	
}

div.fadeBox div.fadeBoxLogo {
	float: left;
	width: 150px;	
}

div.logoSection div.leftSide {
	float:left; 
	width: 480px; 
	padding-right: 40px;
}

div.logoSection div.rightSide {
	float: left; 
	width: 150px;	
}


/* CHARITIES PAGE */
/*
.magicRow2Page table {
    margin-top: 15px;
}

.magicRow2Page table tr td.logo {
    width: 150px;
}

.magicRow2Page table tr td.name {
    font-weight: bold;
    font-size: 1em;
	color: #0033aa;    
    padding-left: 20px;
}

.magicRow2Page div.partner img {
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto

}

.magicRow2Page div.partner div.partnerLink a {
    color: #0000ff;
    font-size: 60%;
}

.magicRow2Page div.partner div.partnerLink {
    padding-bottom: 15px;
}

.magicRow2Page div.partner hr {	
    width: 450px;
    border-top:1px dashed #cccccc;
    color: #ffffff;
    background-color: #ffffff;
    margin: 0 auto 0 0;
}
*/


/* PROMOTE */
body#banners .magicRow2Page hr {
    width: 450px;
    border-top:1px dashed #cccccc;
    color: #ffffff;
    background-color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}



/* OJBAR */

div#ojbar h1 a, div#ojbar h1 a:focus, div#ojbar h1 a:active, div#ojbar h1 a:visited {
	
	color: #ffffff;		
}

div#ojbarWrapper
{
	background-image: url(/media/img/snap/nav-back.png);
	background-repeat: repeat-x;
	color:#C4E7FF;
	xxxheight:40px;
	margin:0;
	xxxoverflow:hidden;
	padding:45px 0 0;
	width:100%;
}

div#ojbar
{
    height:2em;
	line-height:1em;
	margin:0 auto;
	xxxoverflow:hidden;
	padding:0;
	position:relative;
	xxxvertical-align:top;
	width:960px;
}

div#ojbar h1 {
	
	background-image: url(/media/img/logo.png) no-repeat;
	position: absolute;
	margin: 0;
}

div#ojbar a, div#ojbar a:focus, div#ojbar a:active, div#ojbar a:visited {
	
    color:#C4E7FF;
    xxxcolor:#000000;
}

div#ojbar a.ojbarLink {
	color: #8888ff;	
}

div#ojbar a:hover,
body#index div#ojbar a#index,
body#invite div#ojbar a#invite,
body#stats div#ojbar a#stats,
body#about div#ojbar a#about,
body#login div#ojbar a#login,
body#faq div#ojbar a#faq,
body#contact div#ojbar a#contact,
body#promote div#ojbar a#promote,
body#download_win div#ojbar a#download_win,
body#download_osx div#ojbar a#download_osx,
body#download_linux div#ojbar a#download_linux
{
	text-decoration: none;
	color: #ffffff;
}

div#ojbar div#nav {
	xxxcolor:#C4E7FF;
	color:#000000;
	float:right;
	height:36px;
	margin:0;
	xxxoverflow:hidden;
	padding:4px 0 0;	
}

div#ojbar ul.menudropdown {
	padding-right: 10px;		
}

div#ojbar ul.menudropdown li {
	font-family:"Droid Sans",sans-serif;
	letter-spacing:-0.01em;
	list-style-type:none;
}

div#ojbar ul.menudropdown li.dropdownhidden {
	display: none;
}

div#ojbar ul.menudropdown li.dropdowntop,
div#ojbar ul.menudropdown li.dropdownbasic {
	float: left;
	text-align: center;
	padding: 0 10px 0 10px;
	position: relative;
}

div#ojbar ul.menudropdown li.dropdowntop:hover {
	text: #ffffff;
	background: #88aaff;
}

div#ojbar ul.menudropdown li.dropdowntop ul {	
	display: none;
	xxxdisplay: relative;
    xxxbackground: #3e403d;
    background: #88aaff;


	position: absolute;
	top: 17px;
	left: 0;
	width: 200px;

	padding-top: 8px;
	padding-bottom: 8px;

	z-index: 800;
}

div#ojbar ul.menudropdown li.dropdowntop:hover ul {
	display: block;
}

div#ojbar ul.menudropdown li.dropdowntop:hover ul li {
	background: #ffffff;
	margin-left: 7px;
	margin-right: 7px;	

	margin-top: 1px;
	
}

div#ojbar ul.menudropdown li.dropdowntop:hover ul li a {
	display: block;

	padding: 3px 0 3px 3px;
}

div#ojbar ul.menudropdown li.dropdowntop:hover,
div#ojbar ul.menudropdown li.dropdowntop:hover a {
	color: #000000;
	text-align: left;
}

div#ojbar ul.menudropdown li.dropdowntop:hover ul li:hover {
	
}

div#ojbar ul.menudropdown li.dropdowntop:hover ul li:hover a {
	color: #ffffff;
	background: #bf4000;
}

div#ojbar ul.menudropdown li.dropdowntop:hover ul li a img,
div#ojbar ul.menudropdown li.dropdowntop:hover ul li img {
	margin-top: 3px;
	padding-left: 5px;
}

div#ojbar span.menuArrow {
	position: relative;
	float: left;
	width: 10px;
	height: 10px;
	overflow: hidden;
	display:block;
	top: 5px;
	padding-right: 1px;
}

div#ojbar ul.menudropdown li.dropdowntop:hover span.menuArrow img {
  position: relative;
  top: -10px;
  cursor: pointer;
}

div#ojbar ul.menudropdown li#fb_ojbarAccess {
	font-weight: bold;
}

div#ojbar ul.menudropdown li#fb_ojbarAccess ul li a {
	font-weight:normal;
}

div#ojbar div#ojbarUsername {
	position: absolute;
	top: -35px;
	right: 20px;
	font-size: 14px;	
	font-family:"Droid Sans",sans-serif;
}

div#ojbarUsername a, div#ojbarUsername a:focus, div#ojbarUsername a:active, div#ojbarUsername a:visited {
	color: #0000ff;	
}

div#container 
{
    padding-bottom: 25px;         
	xxxbackground: #1c8e44 url(/media/img/green_bg_fade.png) repeat-x 0px 0px;
}

div#content a:hover {
	text-decoration: underline;
}

div.magicRow2 {
	margin: 0 auto 0 auto;
	overflow: hidden;	
	width: 750px;
}

div.magicRow2Page {
	margin: 0 auto 0 auto;
	padding: 0px;
    xxxpadding-left: 40px;
    xxxpadding-right: 40px;
	overflow: hidden;	
    /* 750tabs - 40padding - 40padding */
	width: 960px;
	xxxbackground-color: #ffffff;
	padding-bottom: 30px;
}

div.magicRow2PageWide {
	margin: 0 auto 0 auto;
	padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
	overflow: hidden;	
	width: 730px;
	background-color: #ffffff;
	padding-bottom: 30px;		
}

div.magicRowItemPitch {
	width: 460px;
	float: left;
	
	font: 22px Georgia, "Lucida Grande", sans-serif;
    
	padding-right: 10px;
	display:block;
}

div.magicRowItemScreenshot {
	width: 424px;
	height: 283px;
	
	margin-top: 10px;
	display:block;
}

div#screenshotLeaf {
    position: absolute;
}

div.magicRowItemInvite {
	width: 150px;
	float: left;      
	padding-right: 30px;
}

div.magicRowItemChart {
	width: 560px;
	float: left;      
	padding-right: 30px;
}


/* TABS */

#tabs {
	font-size: 90%;
        
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

#tabs ul {
	float: left;
	
	margin: 0;
}

#tabs li {
	margin-left: 12px;
	list-style: none;

	border-top:1px solid #aaaaaa;
	border-right:1px solid #aaaaaa;
	border-left:1px solid #aaaaaa;
	border-bottom:1px solid #aaaaaa;

}
* html #tabs li {
display: inline; /* ie6 double float margin bug */
}

#tabs li,
#tabs li a {
	float: left;
}

#tabs ul li a {
	padding: 8px;
	
	color: #333333;

	font-family:arial,helvetica,sans-serif;
	font-weight: bold;
	font-size: 14px;

    background: #cce5cc;
	color: #000000;
}

#tabs ul li.active {
	
	border-top:1px solid #ffffff;
}

#tabs ul li a:hover {

    background: #ACD2E5 no-repeat -10px -5px; */
	color: #ffffff;
	text-decoration: none;
}

#tabs ul li.active a {
	
	color: #333333;
	background: #ffffff;
}

#tabs ul li.active a:hover {
	cursor: default;
}

/* PANELS */

#panelHolder div.panel {
	
	background: #ffffff;
	
	clear: both;
	padding: 20px;
	min-height: 200px;
}

#panelHolder div p {
    margin-bottom: 15px;
}

div#tab-ajaxLoad
{
	height: 400px;
	display: none;
}

div#panelHolder
{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	
}

#panelHowWorkLeft {
	width: 190px;
	float: left;
}

#panelHowWorkRight {
	float: left;
	width: 650px;
}


/* PRETTY TABLE
http://www.elated.com/articles/styling-tables-with-css/
*/

.prettyTable
{
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border: 1px solid #333;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #000;  
  
  margin-top: 20px;
  margin-left: 25px;
}

.prettyTable caption
{
  caption-side: bottom;
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
  padding: 0.5em 0;
}

.prettyTable th, .prettyTable td
{
  border: 1px dotted #666;
  padding: 0.5em;
  text-align: left;
  color: #632a39;
}

.prettyTable th[scope=col]
{
  color: #000;
  background-color: #8fadcc;
  text-transform: uppercase;
  font-size: 0.9em;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}

.prettyTable th+th[scope=col]
{
  color: #fff;
  background-color: #7d98b3;
  border-right: 1px dotted #666;
}

.prettyTable th[scope=row]
{
  background-color: #b8cfe5;
  border-right: 2px solid #333;
}

.prettyTable tr.alt th, .prettyTable tr.alt td
{
  color: #2a4763;
}

/*
.prettyTable tr:hover th[scope=row], .prettyTable tr:hover td
{
  background-color: #632a2a;
  color: #fff;
}
*/

.prettyTable tr.even {
	background-color: #dddddd;	
}



/* FOOTER2 */

div#footer2container {
	
	background:#F5F9FF none repeat scroll 0 0;
	border-top:1px solid #C2D1E1;
	color:#A0ACBA;
	font-family:"PT Sans",sans-serif;
	font-size:0.75em;
	padding:2px 20px;
	xxxtext-align:right;
	vertical-align:middle;		
}

div#footer2 {
	margin: 0 auto 0 auto;	
	width: 960px;
	font-size: 1.0em;
}

div#footer2 a {
	color: #4400cc;
}

div#footer2 a:hover {
	text-decoration: underline;
}

div#footer2 h3 {
	font-size: 1.2em;
	margin-bottom: 7px;
}

div#footer2 li {
    line-height: 1.5em;	
}


div#footer2 div.footer2BlankLeft {
	float: left;
	width: 180px;
}

div#footer2 div.footer2Column {
	float: left;
	width: 225px;
}

div#footer2 div#footer2Copyright {
	text-align: center;
	padding-top: 25px;
	font-size: 0.9em;
}

div#softwareBox {
	width: 70px;
	float: left;	
	margin: 49px 0 0 30px;
}

div#steps {
	float: left;
	
	width: 690px;
	margin: 10px 0 0 0px;	
}

div#award {
	margin-top: 15px;
	float: left;
	width: 180px;	
}

div#steps div#stepHeader {
	padding-bottom: 25px;
}

div#steps div.singleStep {
	padding-bottom: 10px;
	overflow: hidden;
}

div#steps div.singleStep div.stepNumber {
	float: left;
	width: 40px;
	font-size: 42px;
	font-weight: bold;
	color: #1c8e44;
	line-height:45px;
}

div#steps div.singleStep div.stepText {
	padding-top: 15px;
	float: left;
	width: 530px;
	font-size: 22px;
}








div#smallSteps {
	width: 700px;
}

div#smallSteps div.singleStep {
	padding-bottom: 12px;
}

div#smallSteps div.singleStep div.stepNumber {
	float: left;
	width: 20px;
	font-size: 28px;
	font-weight: bold;
	color: #1c8e44;
	
	padding-right: 10px;
}

div#smallSteps div.singleStep div.stepNumberIndent {
	float: left;
	width: 30px;
	font-size: 20px;
	font-weight: bold;
	color: #1c8e44;
	
	margin-left: 20px;
}

div#smallSteps div.singleStep div.stepText {
	float: left;
	width: 650px;
	xxxfont-size: 18px;
}

div.thumbnailContainer {
	height: 80px;
	padding-left: 30px;
}

div.thumbnail {
	float: left;	
}

div.thumbnail a {
	display: block;	
	border: 1px solid #ffffff;
	padding: 4px;
	margin-left: 15px;
}

div.thumbnail a:hover {
	border: 1px solid #0000ff;
}



div#downloadButtonContainer {
	margin: 0 auto 0 auto;
	width: 660px;	
}

div.downloadButton {	 
	width:198px; 
	height:133px;
	text-align: center;
	float: left;
	padding: 0 10px 0 10px;
}

div.downloadButton a {
	display:block; 
	width:198px; 
	height:133px;
	color: #000000;
	padding-top: 5px;
	
	text-decoration: none;
	
	font-family:"Arial","Helvetica",sans-serif;
	line-height: 1.2em;
}

div#content div.downloadButton a:hover {
	text-decoration: none;
}

div#downloadButtonWindows a {
	background: #d3f0f8 url(/media/img/download_buttons.png) no-repeat 0px 0px;
}

div#downloadButtonWindows a:hover {
	background: #a9d4e6 url(/media/img/download_buttons.png) no-repeat 0px -136px;
}

div#downloadButtonMac a {
	background: #d3f0f8 url(/media/img/download_buttons.png) no-repeat -198px 0px;
}

div#downloadButtonMac a:hover {
	background: #a9d4e6 url(/media/img/download_buttons.png) no-repeat -198px -136px;
}

div#downloadButtonLinux a {
	background: #d3f0f8 url(/media/img/download_buttons.png) no-repeat -396px 0px;
}

div#downloadButtonLinux a:hover {
	background: #a9d4e6 url(/media/img/download_buttons.png) no-repeat -396px -136px;
}

div.downloadButton span.smallText {	
	font-size: 12px;
}

div.downloadButton span.bigText {
	font-family:Tahoma,Verdana,Arial,sans-serif;
	font-size: 20px; 
	font-weight: bold;
}

/* UserMessages */

div#userMessages {
	display: none;
	background: white;
	position: fixed;
	z-index: 10000;
	width: 100%;
	padding: 25px 0 25px 0px;	
}

div#userMessages div#userMessagesContent {
	width: 800px;
	margin: 0 auto;
	text-align: center;	
	
	display: block;
	font-size: 20px;	
	text-decoration: none;
	font-weight: bold;
}


/* SPLASH */
#splash {
    width: 100%;
    overflow:hidden;
    xxxbackground:#2e5d9c;
    padding: 0;
    background: url(/media/img/snap/splash-back.png) scroll repeat-x top left;
    xxxposition:relative;
    border-bottom:10px solid #F2F7FD;
    
    height: 220px;
}

#splash .slideshow .slideshow_panel_left {
	float: left;
	
	/*
	width: 50%;
	*/
	width: 400px;
}

#splash .slideshow .slideshow_panel_right {
	float: left;
	width: 400px;
	padding-top: 60px;
	
	font-size: 1.7em;
    width: 50%;
    line-height: 1.2em;
    font-family: "PT Sans";
    letter-spacing: 0.01em;
    text-shadow: 1px 1px #DAE6F5;
    color: #1f4986;
    font-style: italic;
    
}

/*
#splash .blurb {
    position:absolute;
    top: 25%;
    right: 75px;
    font-size: 1.7em;
    width: 50%;
    line-height: 1.2em;
    font-family: "PT Sans";
    letter-spacing: 0.01em;
    text-shadow: 1px 1px #DAE6F5;
    color: #1f4986;
    font-style: italic;
}
*/
#splash .slideshow {
    width: 960px;
    margin: 0 auto;
    overflow:hidden;
    xxxposition: relative;
}

#splash .slideshow_panel {
	width: 960px;
}

#splash #pager {
	
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    
}
#splash #pager a {
    width: 15px;
    height: 15px;
    overflow: hidden;
    text-indent: -100px;
    background: #fff;
    opacity: 0.4;
    margin: 0 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.slideshow .slideshow_panel {
    display: relative;
}

#splash #pager a.activeSlide { 
	opacity: 0.9 
}
