
@font-face {
    font-family: "Droid Serif";
    xxxsrc: url("http://l.media.superdonate.org/DroidSerif-Regular.ttf") format("truetype");
    src: url("DroidSerif-Regular.ttf") format("truetype");
}

h1 {
 	color:#0C1A30;
	xxxfont-family:"Droid Serif","Georgia","Arial","Helvetica",sans-serif;
	font-family:"Droid Serif","Georgia","Arial","Helvetica",sans-serif;
	font-size:17px;
	line-height:29px;
}

h2 {
	color: #ff0000;
}